<!DOCTYPE html>
<html>
  <head>
    <title>serbika</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>serbika</h1>
    <p>Welcome to serbika</p>
  </body>
</html>
